# Ignore everything in chatbot
/chatbot/*

#Except for only mention folder
!/chatbot/src/

#Except for only mention folder

!/chatbot/package.json
!/chatbot/package-lock.json
!/chatbot/README.md
!/chatbot/Dockerfile


#Keep track of all files and subdirectry
!/chatbot/src/** 

# Ignore logs
*.log

# Ignore Temporary files
*.tmp

# Ignore vs code files
.vscode/
.vscode/history
.idea/

# Ignore system files
Thumbs.db
.DS_Store

# ignore environment files
.env

# assignment file
/assignment no2.pdf